@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-1: #FFF1D8;
  --color-2: #401314;
  --color-3: #F2555A;
  --color-light: #FFFFFF;
  --color-grey: #B8C0CC;
  --color-dark: #0D131A;
  --border-shop: #350303;
  color: white;
  font-size: 16px;
}

a.active{
  border-bottom: 2px solid black;
}

body{
  background-color: var(--color-1);
  color: black;
  font-family: "Open Sans", sans-serif;;
}

h1{
  font-size: 5rem;
}

.hero-cta{
  background: var(--color-3);
    padding: 16px 85px;
    color: var(--color-light);
    min-width: 100%;
    margin-top: 50px;
    display: block;
}

.hero-cta:hover{
  box-shadow: #0000004f 2px 2px;
  transform: translateY(2px);
}

.about-img{
  object-fit: cover;
  width: 400px;
  height: 570px;
}

img{
  object-fit: cover;
    width: 240px;
    height: 350px;
}

.right-img{
  transform: translateY(105px);
}

.left-img{
  transform: translateY(-98px);
}
#lottie{
  float:right;
}

.hero-mainContent{
  max-width: 600px;
}

.section-reviews{
  background-color: var(--color-2);
  width: 100%;
}

.review-screen{
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 200 200" fill="none"><path d="M0 0H113.333C161.198 0 200 38.802 200 86.6667V200H86.6667C38.802 200 0 161.198 0 113.333V0Z" fill="%23727586"/></svg>');
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 200 200" fill="none"><path d="M0 0H113.333C161.198 0 200 38.802 200 86.6667V200H86.6667C38.802 200 0 161.198 0 113.333V0Z" fill="%23727586"/></svg>');
    width: 300px;
    height: 340px;
}


.footer{
  margin: 0 auto 5rem;
    width: max-content;
}

.footer-contact{
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 18rem;
    border: 1px solid lightblue;
    border-radius: 3px;
    outline: none;
}

.footer-cta{
  background: var(--color-3);
  padding: 9px 40px;
  color: var(--color-light);
  min-width: 38%;
  margin-top: 12px;
  border-radius: 5px;
}


.show #bgmenu{
  opacity: 1;
  visibility: visible;
}

#bgmenu{
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms linear 80ms, visibility 150ms linear 80ms;
}

.navWrapper{
  min-height: 0rem;
  transition: min-height 500ms linear;
  transition-delay: 0s;
}

.show{
  min-height: 100rem;
  position: fixed;
  z-index: 10;
  background: var(--color-1);
  transform: translateY(-64px);
}

.no-scroll{
  overflow-y: hidden;
}

.no-title{
  visibility: hidden;
}

.catalog-pic{
  width: 392px;
  height: 350px;
}

.section-shop{
  background-color: var(--color-3);
}

.successMessage{
  display: block;
  position: relative;
  bottom: 4rem;
  right: 0;
  width: fit-content;
  margin: auto;
  opacity: 1;
  animation-name: fadeOut;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from{
    display: block;
    opacity: 1;
  }70%{
    opacity: 0;
  }
  to{
    display: none;
    opacity: 0;

  }
}

.modal-img{
  width: 500px;
  height: 400px;
}

#productShow{
  margin-top: -16rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  margin-bottom: -7rem;
}

.chart-button{
  background-color: var(--color-dark);
  height: -webkit-fill-available;
  width: fit-content;
  padding: 1rem;
  border-radius: 16px;
  color: white;
}

@media only screen and (max-width:1080px){
  .left-container{
    order: 2 !important; 
  }

  .section-hero{
    flex-flow: column;
  }
  .header{
    margin-bottom: 4rem;
  }

  #productShow{
    margin-top: -7rem;
  }

  .right-img{
    transform: translate(-81px, 61px);
  }

  .left-img {
    transform: translate(96px, -137px);
  }
  .section-about{
    margin-top: -20rem;
  }

  .services-container{
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
  }

  .review{
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 22rem;
  }

  .review-screen{
    order: -1;
  }

  .review-copy{
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
  }

  .review-copy > p{
    font-size: 1.5rem;
  }

  .footer{
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;
  }

  .footer > div{
    margin-left: 0;
  }

  .about-container{
    padding-right: 3rem;
  }

  .about-img-container{
    margin-right: 3rem;
  }
}

@media only screen and (max-width:600px){
  iframe{
    width: 320px;
  }
}

@media only screen and (max-width:640px){
  .mobile-nav{
    display: block;
  }

  .desktop-nav, .nav-cta{
    display: none;
  }

  .logoContainer{
    justify-content: flex-start;
  }
}

@media only screen and (max-width:500px){
  h1{
    font-size: 3rem;
  }

  .section-about {
    margin-top: -12rem;
  }

  .footer-contact{
    padding-right: 8rem;
  }
}

@media only screen and (max-width:420px){
  .left-img, .right-img{
    display: none;
  }

  .mobile-color{
    color: var(--color-3);
  }

  .section-about{
    margin-top: -6rem;
  }
  
  .about-flexible{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin: auto;
  }

  .about-img-container{
    margin: auto;
  }

  .about-img{
    width: 347px;
    height: 318px;
    margin-bottom: 1rem;
  }

  .about-container{
    padding-right: 0;
    text-align: center;
    margin: auto;
  }

  .footer{
    max-width: 320px;
  }

  .copy-shop{
    font-size: 2rem;
  }
}

@media only screen and (max-width:340px){
  :root{
    font-size: 13px;
  }
}

@media only screen and (min-width:1081px){
 .large-hide{
  display: none;
 }
}
